# 進階的 SQL 五十道練習

> 起步走

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## SQL 重要觀念複習

## SQL、關聯式資料庫與關聯式資料庫管理系統

- 什麼是 SQL
- 什麼是關聯式資料庫
- 什麼是關聯式資料庫管理系統

## 什麼是 SQL

- SQL 是 Structured Query Language 的縮寫，是一個專門針對關聯式資料庫中所儲存的資料進行互動（包含查詢、定義、操作與控制）的語言。
- SQL 在 1970 年代由國際商業機器公司（IBM）創造，剛開發出來時候僅只是為了更有效率地「查詢」儲存於關聯式資料庫中的資料，但是到了現代，除了查詢以外像是資料的建立、更新與刪除，也都能靠著 SQL 來完成。

## SQL 的組成與分類

- 具體來說，SQL 是由保留字（Keyword）、符號、常數與函數所組合而成的一種語言。
- 依照使用目的進而區別 SQL 的分類：

|SQL 的分類|範例|
|:---------|:----|
|資料查詢語言（Data Query Language, DQL）|`SELECT ...`|
|資料定義語言（Data Definition Language, DDL）|`CREATE ...`|
|資料操作語言（Data Manipulation Language, DML）|`UPDATE ...`|
|資料控制語言（Data Control Language, DCL）|`GRANT ...`|
|交易控制語言（Transaction Control Language, TCL）|`COMMIT ...`|

## 什麼是關聯式資料庫

- 我們拆成「關聯式」與「資料庫」分別定義：
    - 資料庫是一種特定、經過加工的資料集合，能夠放置在伺服器、個人電腦、手機或者微型電腦之中。
    - 關聯式則是描述資料庫中的資料集合是以列（Rows）與欄（Columns）所組成的二維表格形式記錄，並且遵守關聯式模型準則設計，這樣的資料庫就被稱為關聯式資料庫。有時列也有其他別名，像是紀錄（Records）、觀測值（Observations）、元組（Tuples）等；欄的其他別名則有欄位（Fields）、變數（Variables）、屬性（Attributes）等。

## 什麼是關聯式資料庫（續）

![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Relational_database_terms.svg/512px-Relational_database_terms.svg.png)

來源：<https://en.wikipedia.org/wiki/Relational_database>

## 能夠被稱為是資料庫的資料集合必須要同時具備兩個特徵

1. 觀測值必須具備屬性。
2. 資料集合必須具備元資料（Metadata）。

## 什麼是關聯式資料庫管理系統

- 管理關聯式資料庫的電腦軟體稱為關聯式資料庫管理系統（Relational Database Management System, RDBMS）。
- 透過關聯式資料庫管理系統，可以讓關聯式資料庫具有多人共用、處理大量資料、自動化讀寫與備份等功能。

## 常見的關聯式資料庫管理系統大致可以分為商業授權與開放原始碼兩個大類

- 商業授權
    - DB2：國際商業機器公司的關聯式資料庫管理系統。
    - SQL Server：微軟公司的關聯式資料庫管理系統。
    - Oracle Database：甲骨文公司的關聯式資料庫管理系統。
- 開放原始碼
    - MySQL：開放原始碼的關聯式資料庫管理系統，現為甲骨文公司所有。
    - MariaDB：開放原始碼的關聯式資料庫管理系統，是 MySQL 的分支。
    - SQLite：開放原始碼的關聯式資料庫管理系統。

## SQL、關聯式資料庫與關聯式資料庫管理系統三者的關係

|SQL|關聯式資料庫|關聯式資料庫管理系統|
|:--|:---------|:----------------|
|駕駛車的技術、執照|車|道路、車庫、交通號誌、路線管理|
|駕駛船的技術、執照|船|水域、船塢、港口、航線管理|
|駕駛飛機的技術、執照|飛機|空域、機場、停機坪、跑道、塔台、航線管理|

## 本課程使用 MySQL 開放原始碼關聯式資料庫管理系統

- 容易上手的 SQLite 由於其輕量、無伺服器架構的特性，沒有使用者、登入的設計，沒有辦法進行資料控制語言（Data Control Language, DCL）的示範。
- 標準 SQL 能順利在常見的關聯式資料庫管理系統運行。
- 以駕駛車的技術為例，自用小客車的駕照能夠廣泛應用在轎車、休旅車或廂型車的駕駛。

## 建立學習環境

## 如何在本機建立 MySQL 的學習環境

- Windows 作業系統
    - 下載與安裝 MySQL Server
    - 下載與安裝 DBeaver
- macOS
    - 下載與安裝 MySQL Server
    - 下載與安裝 DBeaver

## MySQL Server 與 DBeaver 的差異為何

- MySQL Server 是關聯式資料庫管理系統，是**必須**的安裝選項，安裝完成之後，可以透過 DBeaver、MySQL Workbench、MySQL CLI、phpMyAdmin 等連線工具使用。
- DBeaver 是 MySQL Server 的連線工具之一，是**非必須**的安裝選項，但透過它的圖形使用者介面來執行 SQL 指令進行資料查詢、定義、操作或者控制能帶給使用者與管理員更輕鬆、更友善的體驗。

## 選擇 DBeaver 而非 MySQL Workbench 作為連線工具的原因

- MySQL Workbench 的 Table Import Wizard 有存在已久卻沒有修正的錯誤。
- DBeaver 是跨資料庫管理系統的連線工具，能夠支援相當多的主流 RDBMS 與 NoSQL DBMS。

## Windows 作業系統

- 本課程使用 MySQL Server 的安裝版本為 8.0.31
- 本課程使用 DBeaver 的安裝版本為 23.0.2
- Windows 作業系統下載副檔名為 .msi 或 .exe 的安裝檔：
    - [MySQL Installer](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/mysql-installer-web-community-8.0.31.0.msi)
    - [DBeaver](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/dbeaver-ce-23.0.2-x86_64-setup.exe)

## Windows 作業系統安裝注意事項

- MySQL Installer 要安裝 MySQL Server
- 記住 root 帳號密碼。
- 不要把電腦登入密碼與 root 帳號密碼搞混。

## 透過 DBeaver 建立與本機 MySQL Server 的連線

- 連線之前先確認 MySQL Server 已經啟動。
- Connection Name: localhost
- Hostname: 127.0.0.1
- Port: 3306
- Username: root

## macOS

- 本課程使用 MySQL Server 的安裝版本為 8.0.31
- 本課程使用 DBeaver 的安裝版本為 23.0.2
- macOS 下載副檔名為 .dmg 的安裝檔：
    - [MySQL Server](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/mysql-8.0.31-macos12-x86_64.dmg)
    - [DBeaver](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/dbeaver-ce-23.0.2-macos-x86_64.dmg)

## macOS 安裝注意事項

- 記住 root 帳號密碼。
- 不要把電腦登入密碼與 root 帳號密碼搞混。

## 透過 DBeaver 建立與本機 MySQL Server 的連線

- 連線之前先確認 MySQL Server 已經啟動。
- Connection Name: localhost
- Hostname: 127.0.0.1
- Port: 3306
- Username: root

## 檢視資料庫

```sql
SHOW DATABASES;
```

## 下載範例資料

- [actors.csv](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/actors.csv)
- [casting.csv](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/casting.csv)
- [directors.csv](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/directors.csv)
- [movies.csv](https://classroom-hahow-adv-sqlfifty.s3.ap-northeast-1.amazonaws.com/movies.csv)

來源：<https://www.imdb.com/chart/top>

## 建立資料庫 `imdb`

```sql
CREATE DATABASE imdb CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
```

## 匯入資料表

- 在 `imdb` 資料庫按右鍵點選 Import Data
- 調整文字資料類型為 `TEXT`

## 哈囉世界

- 哈囉世界是指在電腦螢幕顯示「Hello, World!」（你好，世界！）字串的電腦程式，通常用來確認一個程式語言的開發環境及運行環境是否已經安裝妥當。
- 學習 SQL 也不例外，不過若光是顯示「Hello, World!」還不足以確認是否有順利完成學習環境，因此改為查詢資料表的「前五列、所有欄」。

## `actors`

```sql
SELECT *
  FROM actors
 LIMIT 5;
```

## `casting`

```sql
SELECT *
  FROM casting
 LIMIT 5;
```

## `directors`

```sql
SELECT *
  FROM directors
 LIMIT 5;
```

## `movies`

```sql
SELECT *
  FROM movies
 LIMIT 5;
```

## 快速複習資料查詢語言

## SQL 敘述的組成

- 保留字：具有特定功能的指令。
- 符號：具有特定功能的符號。
- 常數：由使用者給予的資料。
- 函數：具有特定邏輯的輸入與輸出對應。

## SQL 保留字的寫作順序

```sql
SELECT DISTINCT columns AS alias,
       CASE WHEN condition_1 THEN result_1
            WHEN condition_2 THEN result_2
            ...
            ELSE result_n END AS alias
  FROM left_table
  JOIN | LEFT JOIN right_table
    ON left_table.join_key = right_table.join_key
 WHERE conditions
 GROUP BY columns
HAVING conditions
 UNION | UNION ALL
 ORDER BY columns DESC
 LIMIT m
OFFSET m;
```

## `SELECT` 與 `FROM`

```sql
SELECT title,
	   rating,
       release_year,
       director_id
  FROM movies;
```

## `ORDER BY`

```sql
SELECT title,
       rating,
       release_year,
       runtime,
       director_id
  FROM movies
 ORDER BY runtime DESC;
```

## `LIMIT` 與 `OFFSET`

```sql
SELECT title,
       rating,
       release_year,
       runtime,
       director_id
  FROM movies
 ORDER BY runtime DESC
 LIMIT 3
OFFSET 1;
```

## `WHERE`

```sql
SELECT title,
	   rating,
       release_year,
       director_id
  FROM movies
 WHERE title LIKE '%Top Gun%';
```

## `GROUP BY`

```sql
SELECT release_year,
       COUNT(*) AS number_of_movies
  FROM movies
 GROUP BY release_year;
```

## `HAVING`

```sql
SELECT release_year,
       COUNT(*) AS number_of_movies
  FROM movies
 GROUP BY release_year
HAVING number_of_movies >= 5;
```

## `CASE WHEN`

```sql
SELECT CASE WHEN release_year >= 2000 THEN 'After millennium'
            ELSE 'Before millennium' END AS millennium_flag,
       COUNT(*) AS number_of_movies
  FROM movies
 GROUP BY millennium_flag;
```

## 子查詢（Subquery）

```sql
SELECT name
  FROM directors
 WHERE id = (
                SELECT director_id
                  FROM movies
                 WHERE runtime = (
                                     SELECT MIN(runtime) 
                                       FROM movies
                                 )
            );
```

## UNION

```sql
SELECT name
  FROM directors
 WHERE name IN ('Steven Spielberg', 'Christopher Nolan')
 UNION
SELECT name
  FROM actors
 WHERE name IN ('Tom Hanks', 'Tom Cruise');
```

## JOIN

```sql
SELECT movies.title,
       casting.ord,
       actors.name AS lead_actor,
       directors.name AS director
  FROM movies
  JOIN casting
    ON movies.id = casting.movie_id
  JOIN actors
    ON casting.actor_id = actors.id
  JOIN directors
    ON movies.director_id = directors.id
 WHERE movies.title LIKE '%Top Gun%' AND
       casting.ord <= 4
 ORDER BY casting.ord;
```