# 進階的 SQL 五十道練習

> 資料定義語言

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## SQL 的組成與分類（複習）

- 具體來說，SQL 是由保留字（Keyword）、符號、常數與函數所組合而成的一種語言。
- 依照使用目的進而區別 SQL 的分類：

|SQL 的分類|範例|
|:---------|:----|
|資料查詢語言（Data Query Language, DQL）|`SELECT ...`|
|資料定義語言（Data Definition Language, DDL）|`CREATE ...`|
|資料操作語言（Data Manipulation Language, DML）|`UPDATE ...`|
|資料控制語言（Data Control Language, DCL）|`GRANT ...`|
|交易控制語言（Transaction Control Language, TCL）|`COMMIT ...`|

## 資料定義語言（Data Definition Language, DDL）最主要的保留字

- `CREATE`
- `TRUNCATE`
- `DROP`
- `ALTER`

這意味著我們可以在環境中創造、刪除與更新物件。

## 有哪些物件可以被創造、刪除與更新

- 資料庫（Database）
- 資料表（Table）。
- 檢視表（View）。

## 資料庫（Database）

## 以 `CREATE DATABASE` 創造資料庫

```sql
CREATE DATABASE db_name;
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可檢視資料庫是否被創造。

```sql
CREATE DATABASE ddl;
```

## 以 `DROP DATABASE` 刪除資料庫

```sql
DROP DATABASE IF EXISTS db_name;
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可檢視資料庫是否被刪除。

```sql
DROP DATABASE IF EXISTS ddl;
```

## 連線工具的使用者介面也可以輕鬆創造、刪除資料庫

- 左側資料庫按右鍵下拉式選單點選 Create New Database
- 選擇 Charset 與 Collation
    - Charset: utf8mb4
    - Collation: utf8mb4_unicode_ci
- 左側資料庫按右鍵下拉式選單點選 Delete
    
```sql
CREATE DATABASE db_name CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

DROP DATABASE IF EXISTS db_name;
```

## 什麼是 Charset 與 Collation

- MySQL utf8 並不是一般常用的 utf8 編碼，而是 utf8mb3(most bytes 3)
- MySQL utf8mb4(most bytes 4)對應到一般常用的 utf8 編碼，可以顯示冷僻字或者表情符號（Emoji）
- Collation 影響文字資料的排序以及搜尋：utf8mb4_unicode_ci 準確但比較慢 utf8mb4_general_ci 速度快但相對不準確。

## 資料表（Table）

## 以 `CREATE TABLE` 創造資料表

```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
    ....
);
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可檢視資料表是否被創造。

## MySQL 的資料類型

- 數值
- 文字
- 日期與時間

## MySQL 常用的數值資料類型

- 整數
    - `TINYINT`: $2^8$: $-2^{7} \text{~} 2^{7} - 1$
    - `SMALLINT`: $2^{16}$: $-2^{15} \text{~} 2^{15} - 1$
    - `MEDIUMINT`: $2^{24}$: $-2^{23} \text{~} 2^{23} - 1$
    - `INT`: $2^{32}$: $-2^{31} \text{~} 2^{31} - 1$
    - `BIGINT`: $2^{64}$: $-2^{63} \text{~} 2^{63} - 1$
- 浮點數
    - `DECIMAL`：正確無誤差的小數。
    - `FLOAT`：精準到小數第 7 位左右。
    - `DOUBLE`：精準到小數第 15 位左右。

```sql
DROP DATABASE IF EXISTS ddl;
CREATE DATABASE ddl;
USE ddl;
CREATE TABLE movies (
    id INT,
    rating FLOAT
);
```

## MySQL 常用的文字資料類型

- `CHAR`: 可指定為 0 ~ 255 位元組。
- `VARCHAR`: 可指定為 0 ~ $2^{16} - 1$ 位元組。
- `TINYTEXT`: 255 位元組。
- `TEXT`: $2^{16} - 1$ 位元組。
- `MEDIUMTEXT`: $2^{24} - 1$ 位元組。
- `LONGTEXT`: $2^{32} - 1$ 位元組。

## `CHAR` 與 `VARCHAR` 的差別

- `CHAR` 為固定長度，會填入空白補滿長度。
- `VARCHAR` 為可變長度，不會填入空白補滿長度。
- 使用固定長度的資料類型能提高查詢、輸入資料的效率。

```sql
DROP DATABASE IF EXISTS ddl;
CREATE DATABASE ddl;
CREATE TABLE movies (
    id INT,
    rating FLOAT,
    title TEXT
);
```

## MySQL 常用的日期時間資料類型

- `DATE`: 日期 `YYYY-MM-DD`。
- `DATETIME`: 日期時間 `YYYY-MM-DD hh:mm:ss`。
- `TIME`: 時間 `hh:mm:ss`。
- `YEAR`: 年 `YYYY`。

```sql
DROP DATABASE IF EXISTS ddl;
CREATE DATABASE ddl;
USE ddl;
CREATE TABLE movies (
    id INT,
    rating FLOAT,
    title TEXT,
    release_year YEAR
);
```

## 以 `ALTER TABLE` 更新資料表

- 以 `ADD` 新增欄位。
- 以 `DROP COLUMN` 刪除欄位。
- 以 `RENAME COLUMN` 更新欄位名稱
- 以 `MODIFY COLUMN` 更新資料類型

```sql
ALTER TABLE table_name ADD|DROP COLUMN|RENAME COLUMN|MODIFY COLUMN columns;
```

```sql
USE ddl;
ALTER TABLE movies ADD release_date DATE;
```

```sql
USE ddl;
ALTER TABLE movies DROP COLUMN release_date;
```

```sql
USE ddl;
ALTER TABLE movies RENAME COLUMN release_year TO release_date;
```

```sql
USE ddl;
ALTER TABLE movies MODIFY COLUMN release_date DATE;
```

## 以 `TRUNCATE` 刪除資料表中的所有資料

```sql
TRUNCATE TABLE table_name
```

```sql
USE ddl;
TRUNCATE TABLE movies;
```

## 以 `DROP TABLE` 刪除資料表

```sql
DROP TABLE IF EXISTS db_name;
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可檢視資料表是否被刪除。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
```

## 連線工具的使用者介面也可以輕鬆創造、刪除資料表

- 左側資料庫按右鍵下拉式選單點選 Create New Table
- 左側資料庫按右鍵下拉式選單點選 Delete

## 檢視表（View）

## 什麼是檢視表

- 檢視表是一段被儲存在資料庫中的 SQL 敘述，具有一個物件命名。
- 想要檢視該段 SQL 敘述的查詢結果時，只需要將檢視表命名放在 `FROM` 保留字之後即可。

## 檢視表不等於資料表

- 實際上檢視表儲存的內容並不是列（Rows）與欄（Columns）所組成的二維表格，而是一段 SQL 敘述。
- 只有在對檢視表寫作資料查詢語言時，才會執行被儲存的 SQL 敘述。
- 簡單來說，檢視表是一種介於「子查詢」與「創造資料表」之間的功能。
- 檢視表就像是資料表版本的「衍生計算欄位」，由於多數「非資料庫管理員」的資料分析師在公司中沒有創造資料表的權限，因此若是有創造檢視表的權限將可以滿足我們對資料表的創造需求。

## 以 `CREATE VIEW` 創造檢視表

```sql
CREATE VIEW view_name
    AS
   SQL statement to be stored;
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可觀察檢視表是否被創造。

```sql
USE imdb;
CREATE VIEW avg_rating_by_release_year
    AS
SELECT release_year,
       AVG(rating) AS avg_rating
  FROM movies
 GROUP BY release_year;
```

## 將檢視表命名放在 `FROM` 保留字之後來使用

```sql
SELECT *
  FROM avg_rating_by_release_year
 WHERE avg_rating >= 8.5;
```

## 以 `DROP VIEW` 刪除檢視表

```sql
DROP VIEW IF EXISTS view_name;
```

執行之後可以在左側資料庫按右鍵下拉式選單點選 Refresh 即可觀察檢視表是否被刪除。

## 刪除檢視表之後，就無法在 `FROM` 保留字之後指定檢視表查詢。

```sql
USE imdb;
DROP VIEW IF EXISTS avg_rating_by_release_year;
SELECT *
  FROM avg_rating_by_release_year
 WHERE avg_rating >= 8.5;
```

```
Table 'imdb.avg_rating_by_release_year' doesn't exist
```

## 透過檢視表複習不同的關聯類型

- `(INNER) JOIN` 保留兩個資料表的「交集」觀測值。
- `LEFT JOIN` 保留左資料表的所有觀測值。
- `RIGHT JOIN` 保留右資料表的所有觀測值。
- `FULL JOIN` 保留兩個資料表的「聯集」觀測值。

## 建立一個左檢視表 `movies_shawshank_forrest`

```sql
USE imdb;
CREATE VIEW movies_shashank_forrest AS
SELECT *
  FROM movies
 WHERE title IN ('The Shawshank Redemption', 'Forrest Gump');
```

## 建立一個右檢視表 `casting_shawshank_darkknight`

```sql
USE imdb;
CREATE VIEW casting_shawshank_darkknight AS
SELECT *
  FROM casting
 WHERE movie_id IN (1, 3);
```

## `(INNER) JOIN` 保留兩個資料表的「交集」觀測值

```
('The Shawshank Redemption', 'Forrest Gump') & ('The Shawshank Redemption', 'The Dark Knight')
=> ('The Shawshank Redemption')
```

```sql
USE imdb;
SELECT movies_shashank_forrest.title,
       casting_shawshank_darkknight.actor_id
  FROM movies_shashank_forrest
  JOIN casting_shawshank_darkknight
    ON movies_shashank_forrest.id = casting_shawshank_darkknight.movie_id;
```

## `LEFT JOIN` 保留左資料表的所有觀測值

```
('The Shawshank Redemption', 'Forrest Gump') + ('The Shawshank Redemption', 'The Dark Knight')
=> ('The Shawshank Redemption', 'Forrest Gump')
```

```sql
USE imdb;
SELECT movies_shashank_forrest.title,
       casting_shawshank_darkknight.actor_id
  FROM movies_shashank_forrest
  LEFT JOIN casting_shawshank_darkknight
    ON movies_shashank_forrest.id = casting_shawshank_darkknight.movie_id;
```

## `RIGHT JOIN` 保留右資料表的所有觀測值

```
('The Shawshank Redemption', 'The Dark Knight') + ('The Shawshank Redemption', 'Forrest Gump')
=> ('The Shawshank Redemption', 'The Dark Knight')
```

```sql
USE imdb;
SELECT movies_shashank_forrest.title,
       casting_shawshank_darkknight.actor_id
  FROM movies_shashank_forrest
 RIGHT JOIN casting_shawshank_darkknight
    ON movies_shashank_forrest.id = casting_shawshank_darkknight.movie_id;
```

## `FULL JOIN` 保留兩個資料表的「聯集」觀測值

```
('The Shawshank Redemption', 'Forrest Gump') | ('The Shawshank Redemption', 'The Dark Knight')
=> ('The Shawshank Redemption', 'Forrest Gump', 'The Dark Knight')
```

```sql
USE imdb;
SELECT movies_shashank_forrest.title,
       casting_shawshank_darkknight.actor_id
  FROM movies_shashank_forrest
  LEFT JOIN casting_shawshank_darkknight
    ON movies_shashank_forrest.id = casting_shawshank_darkknight.movie_id
 UNION
SELECT movies_shashank_forrest.title,
       casting_shawshank_darkknight.actor_id
  FROM movies_shashank_forrest
 RIGHT JOIN casting_shawshank_darkknight
    ON movies_shashank_forrest.id = casting_shawshank_darkknight.movie_id;
```