# 進階的 SQL 五十道練習

> 資料操作語言

[數聚點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## SQL 的組成與分類（複習）

- 具體來說，SQL 是由保留字（Keyword）、符號、常數與函數所組合而成的一種語言。
- 依照使用目的進而區別 SQL 的分類：

|SQL 的分類|範例|
|:---------|:----|
|資料查詢語言（Data Query Language, DQL）|`SELECT ...`|
|資料定義語言（Data Definition Language, DDL）|`CREATE ...`|
|資料操作語言（Data Manipulation Language, DML）|`UPDATE ...`|
|資料控制語言（Data Control Language, DCL）|`GRANT ...`|
|交易控制語言（Transaction Control Language, TCL）|`COMMIT ...`|

## 資料操作語言（Data Manipulation Language, DML）最主要的保留字

- `INSERT`
- `UPDATE`
- `DELETE`

這意味著我們可以在資料表中新增、更新與刪除資料。

## 有哪些資料表中的資料可以新增、更新與刪除

觀測值（Observations）、列（Rows）或元組（Tuple）。

## 新增資料

## 以 `INSERT` 新增資料

```sql
INSERT INTO table_name VALUES
    (column1, column2, ...),
    (column1, column2, ...),
    (column1, column2, ...);
```

```sql
DROP DATABASE IF EXISTS ddl;
CREATE DATABASE ddl;
USE ddl;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0);
```

## 創造資料表時指定的資料類型會影響新增資料是否能成功執行

```sql
INSERT INTO movies VALUES
    (4, 1974, 'The Godfather Part II', 9.0);
```

```
Incorrect integer value: 'The Godfather Part II' for column 'release_year' at row 1
```

## 創造資料表時除了資料類型，亦可以指定限制（Constraints）

```sql
CREATE TABLE table_name (
    column1 datatype constraints,
    column2 datatype constraints,
    column3 datatype constraints,
    ....
);
```

## MySQL 常見的限制（Constraints）

- `DEFAULT`
- `UNIQUE`
- `NOT NULL`
- `AUTO_INCREMENT`
- `PRIMARY KEY`
- `FOREIGN KEY`
- `INDEX`

## 創造資料表時指定的限制也會影響新增資料是否能成功執行

`rating` 沒有添加限制。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies (id, title, release_year) VALUES
    (1, 'The Shawshank Redemption', 1994),
    (2, 'The Godfather', 1972),
    (3, 'The Dark Knight', 2008),
    (3, 'The Godfather Part II', 1974);
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

`rating` 添加限制 `DEFAULT`

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT DEFAULT 0
);
INSERT INTO movies (id, title, release_year) VALUES
    (1, 'The Shawshank Redemption', 1994),
    (2, 'The Godfather', 1972),
    (3, 'The Dark Knight', 2008),
    (3, 'The Godfather Part II', 1974);
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

`id` 沒有添加限制。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year INT,
    rating FLOAT
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (3, 'The Godfather Part II', 1974, 9.0);
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

`id` 添加限制 `UNIQUE`

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT UNIQUE,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (3, 'The Godfather Part II', 1974, 9.0);
```

```
Duplicate entry '3' for key 'movies.id'
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

`id` 沒有添加限制。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies (title, release_year, rating) VALUES
    ('The Shawshank Redemption', 1994, 9.2),
    ('The Godfather', 1972, 9.2),
    ('The Dark Knight', 2008, 9.0),
    ('The Godfather Part II', 1974, 9.0);
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

`id` 添加限制 `NOT NULL`

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT NOT NULL,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies (title, release_year, rating) VALUES
    ('The Shawshank Redemption', 1994, 9.2),
    ('The Godfather', 1972, 9.2),
    ('The Dark Knight', 2008, 9.0),
    ('The Godfather Part II', 1974, 9.0);
```

```
Field 'id' doesn't have a default value
```

## 創造資料表時指定的限制也會影響新增資料是否能成功執行（續）

- `id` 添加限制 `AUTO_INCREMENT` `PRIMARY_KEY`
- `INSERT` 不需要輸入 `id` 資料。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title TEXT,
    release_year YEAR,
    rating FLOAT
);
INSERT INTO movies (title, release_year, rating) VALUES
    ('The Shawshank Redemption', 1994, 9.2),
    ('The Godfather', 1972, 9.2),
    ('The Dark Knight', 2008, 9.0),
    ('The Godfather Part II', 1974, 9.0);
```

## 難以從字面暸解意義的限制

- `PRIMARY KEY`: 主鍵，無法儲存和其他紀錄重複的值、也無法儲存 `NULL` 的限制（`UNIQUE` 加上 `NOT NULL`）。
- `FOREIGN KEY`: 外鍵，無法儲存指定關聯資料表沒有的值。
- `INDEX`: 索引，能用來提升查詢資料的效率。

## 以 `PRIMARY KEY (column)` 指定主鍵

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    PRIMARY KEY (id)
);
```

## 顯示主鍵

```sql
SHOW KEYS FROM movies WHERE Key_name = 'PRIMARY';
```

## 主鍵無法儲存和其他紀錄重複的值

```sql
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (3, 'The Godfather Part II', 1974, 9.0);
```

```
Duplicate entry '3' for key 'movies.PRIMARY'
```

## 以 `FOREIGN KEY (fk) REFERENCES parent_table (pk)` 指定外鍵與參照

建立 `directors` 資料表作為父母資料表（Parent table）。

```sql
USE ddl;
DROP TABLE IF EXISTS directors;
CREATE TABLE directors (
    id INT ,
    name TEXT,
    PRIMARY KEY (id)
);
INSERT INTO directors VALUES
    (1, 'Frank Darabont'),
    (2, 'Francis Ford Coppola'),
    (3, 'Christopher Nolan');
```

## 以 `FOREIGN KEY (fk) REFERENCES parent_table (pk)` 指定外鍵與參照（續）

建立 `movies` 資料表作為子女資料表（Child table）。

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    director_id INT,
    PRIMARY KEY (id),
    FOREIGN KEY (director_id) REFERENCES directors (id)
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2, 1),
    (2, 'The Godfather', 1972, 9.2, 2),
    (3, 'The Dark Knight', 2008, 9.0, 3),
    (4, 'The Godfather Part II', 1974, 9.0, 2);
```

## 顯示外鍵

```sql
SELECT TABLE_NAME,
       COLUMN_NAME,
       CONSTRAINT_NAME,
       REFERENCED_TABLE_NAME,
       REFERENCED_COLUMN_NAME
  FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
 WHERE REFERENCED_TABLE_SCHEMA = 'ddl' AND
       REFERENCED_TABLE_NAME = 'directors';
```

## 指定外鍵以後，僅能儲存指定關聯資料表有的值

```sql
USE ddl;
INSERT INTO movies VALUES
    (5, 'Inception', 2010, 8.7, 3);
```

## 指定外鍵以後，無法儲存指定關聯資料表沒有的值

```sql
USE ddl;
INSERT INTO movies VALUES
    (6, 'Schindler\'s List', 1993, 8.9, 4);
```

```
Cannot add or update a child row: a foreign key constraint fails
```

## `INDEX` 索引

- 針對「獨一值」較多、常被使用者拿來「篩選」或者「排序」的欄位建立索引可以提升查詢效率。
- 不建議對「獨一值」較少或者主鍵建立索引。

```sql
CREATE INDEX index_name ON table_name (column);
```

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
DROP TABLE IF EXISTS directors;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    PRIMARY KEY (id)
);
CREATE INDEX release_year_idx ON movies (release_year);
CREATE INDEX rating_idx ON movies (rating);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (4, 'The Godfather Part II', 1974, 9.0);
```

## 顯示索引 

```sql
SHOW INDEX FROM movies;
```

## 更新資料

## 以 `UPDATE` 更新資料

```sql
UPDATE table_name
   SET column1 = value1,
       column2 = value2,
       ...
 WHERE conditions;
```

## 新增資料時輸入錯誤

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    PRIMARY KEY (id)
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1995, 9.2), -- wrong input of release_year
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (4, 'The Godfather Part II', 1974, 9.0);
```

## 以 `UPDATE` 更新 `release_year` 的資料

```sql
USE ddl;
UPDATE movies
   SET release_year = 1994
 WHERE id = 1; -- flexible conditions
```

## 刪除資料

## 以 `DELETE` 刪除資料表中特定的資料

```sql
DELETE FROM table_name
 WHERE conditions;
```

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    PRIMARY KEY (id)
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (4, 'The Godfather Part II', 1974, 9.0);
DELETE FROM movies
 WHERE id = 4;
```

## 如果沒有指定 `conditions` 會刪除資料表中的所有資料

與資料定義語言（Data Definition Language, DDL）的 `TRUNCATE` 效果相同。

```sql
DELETE FROM table_name;
```

```sql
USE ddl;
DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
    id INT,
    title TEXT,
    release_year YEAR,
    rating FLOAT,
    PRIMARY KEY (id)
);
INSERT INTO movies VALUES
    (1, 'The Shawshank Redemption', 1994, 9.2),
    (2, 'The Godfather', 1972, 9.2),
    (3, 'The Dark Knight', 2008, 9.0),
    (4, 'The Godfather Part II', 1974, 9.0);
DELETE FROM movies;
```

## 沒有指定 `conditions` 的 `DELETE` 與 `TRUNCATE` 之差異

- `DELETE` 屬於 DML 範疇；`TRUNCATE` 屬於 DDL 範疇。
- `TRUNCATE` 結合了 `DROP` 與 `CREATE` 兩個 DDL 敘述，因此使用者具有權限等級更高。
- `DELETE` 是一列一列刪除資料，因此效率上慢於 `TRUNCATE`